:root {
  --primary-color: #1B5E20;
  --main-font-color: #111;
  --main-link-color: #0D47A1;
  --success-color: green;
  --danger-color: #BF360C;
  --warning-color: orange;
  --info-color: blue;
  --med-grey: #666;
}
