.input {
  height:28px;
  font-size: 1.3rem;
  padding:.2rem;
  border: 1px solid #000;
}

.form-group {
  margin-bottom: 1rem;

  &.form-group-columns {
    display:flex;

    label {
      margin-right: .4rem;
      display:flex;
      align-items: center;
    }

    .input {
      flex: 1;
    }
  }
}
