.flex {
  display:flex;
  justify-content: flex-start;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-align-items-center {
  align-items: center;
}


.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}
