<div class="flex flex-space-between flex-align-items-center">
  <h1>
    CDP
    <ng-container *ngIf="user && user.name">
      for {{ user.name }}
    </ng-container>
  </h1>
  <a *ngIf="user" [routerLink]="['/plan', 'edit', user.id]" class="btn">Edit</a>
</div>
<div>
  <strong>Created: </strong>{{ plan.createdAt | date:'mediumDate'}}
</div>

<div>
  <strong>Updated: </strong>{{ plan.updatedAt | date:'mediumDate'}}
</div>

<div>
  <strong>Assessor: </strong>{{ plan.assessor.name }}: {{ plan.assessor.email }}
</div>

<div *ngIf="plan.overview">
  <h2>Overview</h2>

  <div *ngFor="let item of getOverview()">
    {{ item }}: {{ plan.overview[item] }}
  </div>
</div>

<div class="flex flex-space-between flex-align-items-center">
  <h2>Goals</h2>
  <a routerLink="/plan/{{plan.id}}/goals/0" class="btn mb">Add Goal</a>
</div>
<div *ngIf="plan && plan.goals && plan.goals.length">
  <app-goals [goals]="plan.goals"></app-goals>
</div>
